{% extends 'main/layout.html' %}

{% load static %}
{% block title %}Главная{% endblock %}

{% block content %}
<div class="wrapper">
    <header class="header">
    <span class="info">
        <p> Попадение точки </p>
    </span>
    </header>
    <div class="content">

        <div class="content-input">
            <div class="schedule">
                <div class="title">График</div>
                <div class="shedule-value">
                    <!-- <img src="{% static 'main/img/areas.png' %}" alt="график"> -->
                    <svg width="220" height="220" id="svg">
                        <!-- Прямоугольник -->
                        <rect x="110" y="110" height="30" width="60" fill="blue" fill-opacity="0.25" stroke="darkblue" stroke-opacity="0.5" />
                        
                        <!-- Треугольник -->
                        <polygon points="110,140 80,110 110,110" fill="green" fill-opacity="0.25" stroke="darkgreen" stroke-opacity="0.5" />

                        <!-- сектор -->
                        <path class="svg-figure circle-figure" d="M 170 110 A 60 60 0 0 0 110 50 L 110 110 Z" fill="yellow" fill-opacity="0.25" stroke="#CCCC00" stroke-opacity="0.5" />

                        <!-- Оси -->
                        <line x1="110" y1="10" x2="110" y2="210" stroke="black" stroke-width="2"/>
                        <line x1="10" y1="110" x2="210" y2="110" stroke="black" stroke-width="2"/>

                        <polygon points="105,10 110,0 115, 10" fill="black" />
                        <polygon points="210,105 220,110 210,115" fill="black" />

                        <line x1="50" y1="105" x2="50" y2="115" stroke="black" stroke-width="2" />
                        <line x1="80" y1="105" x2="80" y2="115" stroke="black" stroke-width="2" />
                        <line x1="140" y1="105" x2="140" y2="115" stroke="black" stroke-width="2" />
                        <line x1="170" y1="105" x2="170" y2="115" stroke="black" stroke-width="2" />

                        <line x1="105" y1="50" x2="115" y2="50" stroke="black" stroke-width="2" />
                        <line x1="105" y1="80" x2="115" y2="80" stroke="black" stroke-width="2" />
                        <line x1="105" y1="140" x2="115" y2="140" stroke="black" stroke-width="2" />
                        <line x1="105" y1="170" x2="115" y2="170" stroke="black" stroke-width="2" />




                    </svg>

                </div>
            </div>

            <div class="input">
                <div class="title">Значения</div>
                <div class="input-value">
                    <form method="post">
                        {{ error }}
                        {% csrf_token %}
                        <label for="X">Значение X:</label><br/>
                        {{ form.x_value }}
                        <label for="Y">Значение Y:</label><br/>
                        {{ form.y_value }}
                        <label for="radius">Выберите радиус:</label><br/>
                        {{ form.r_value }}
                        </select><br/>
                        <button type="submit" class="form-control">отправить</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="table-div">
            <div class="title">Таблица</div>
            <div class="table-value">
                <table class="table">
                    <tr>
                        <th>X</th>
                        <th>Y</th>
                        <th>R</th>
                        <th>Result</th>
                    </tr>
                    {% for dot in dots %}
                        <tr>
                            <td>{{dot.x_value}}</td>
                            <td>{{dot.y_value}}</td>
                            <td>{{dot.r_value}}</td>
                            <td>{{dot.result}}</td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}